body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
}
.subtitulo{
    color:black;
}
p{ 
    color:white;
    font-size:50px;
}

.header{
    height: 5em;
    padding: 5em;
    font-size: 2em;
    background-image: url("assets/imgs/img1.webp"); 
    background-size: cover; 
    background-position: center;
    }
.header h1{ 
    margin: 2px;
    font-weight: 400;
    }
.products { 
    width: 50%; 
    margin: auto;
    }
.products td{ 
    width: 50%; 
    padding: 2em;
    }
.products img{
    width: 100%;
    border: solid 5px #ddd;
    }
.footer{
        height: 3em;
        line-height: 3em;
        background-color: rgb(180, 0, 0); color: white;
        text-align: center;
        font-weight: 900;
 }
